body{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
.nav{
    height:11.5vh;
    width:100vw;
    background-color:transparent;
    position:fixed;
    top:0;
    left:0;
    z-index:0;
}
.nav ul li{
    display:inline-block;
    padding-left:40px;
    font-weight:bold;
    position: relative;
    top:50px;
    left:500px;
    position:3;
}
.nav ul li a{
    color:black;
    text-decoration:none;
}
.nav ul li a:hover, .nav ul li a:active{
    color:#c8282f;
    font-size:1.1em;
    transition: all 0.2s linear;
}
.checkbtn{
    font-size:30px;
    color:#ffffff;
    float:right;
    line-height:100px;
    margin-right:40px;
    cursor:pointer;
    display:none;
}
#check{
    display:none;
}
#home{
    width:100vw;
    height:100vh;
    color:black;
    position:absolute;
    top:200px;
    left:150px;
    z-index:-10;
}
#home h1{
    font-weight:bold;
    font-size:4em;
    text-transform:uppercase;
    animation-name:home;
    animation-duration:3s;
    animation-timing-function:ease-in-out;
    animation-delay:0;
    animation-iteration-count:1;
}
#home p{
    width:800px;
    height:auto;
    position:absolute;
    top:110px;
    left:0;
    animation-name:home;
    animation-duration:2s;
    animation-timing-function:ease-in-out;
    animation-delay:0;
    animation-iteration-count:1;
}
.functional-design{
    position:fixed;
    top:-42px;
    right:290px;
}
.functional-design .container1:hover{
    transform:rotate(-10deg);
    transition:transform .5s linear;
}
.functional-design .container0{
    height:565px;
    width:565px;
    border-radius:50%;
    background:white;
    position:absolute;
    top:50px;
    left:10px;
    z-index:5;
    
}
.functional-design .container1{
    height:465px;
    width:465px;
    border-radius:50%;
    border:10px solid black;
    background:#c8282f;
    position:absolute;
    top:90.5px;
    left:50px;
    z-index:10;
}
.functional-design .container1 .line1{
    width:80px;
    height:2px;
    background:white;
    position:absolute;
    top:50px;
    left:195px;
    z-index:15;
    transform:rotate(0deg);
}
.functional-design .container1 .line2{
    width:60px;
    height:2px;
    background:white;
    position:absolute;
    top:40px;
    left:203px;
    z-index:15;
    transform:rotate(0deg);
}
.functional-design .container1 .line3{
    width:45px;
    height:2px;
    background:white;
    position:absolute;
    top:25px;
    left:213px;
    z-index:15;
    transform:rotate(0deg);
}
.functional-design .container1 .line4{
    width:70px;
    height:2px;
    background:white;
    position:absolute;
    top:10px;
    left:203px;
    z-index:15;
    transform:rotate(0deg);
}
.functional-design .container1 .line5{
    width:73px;
    height:2px;
    background:white;
    position:absolute;
    top:65px;
    left:200px;
    z-index:15;
    transform:rotate(0deg);
}
.functional-design .container1 .line6{
    width:80px;
    height:2px;
    background:white;
    position:absolute;
    top:45px;
    left:310px;
    z-index:15;
    transform:rotate(30deg);
}
.functional-design .container1 .line7{
    width:50px;
    height:2px;
    background:white;
    position:absolute;
    top:60px;
    left:320px;
    z-index:15;
    transform:rotate(30deg);
}
.functional-design .container1 .line8{
    width:60px;
    height:2px;
    background:white;
    position:absolute;
    top:90px;
    left:300px;
    z-index:15;
    transform:rotate(30deg);
}
.functional-design .container1 .line9{
    width:60px;
    height:2px;
    background:white;
    position:absolute;
    top:75px;
    left:300px;
    z-index:15;
    transform:rotate(30deg);
}
.functional-design .container1 .line10{
    width:60px;
    height:2px;
    background:white;
    position:absolute;
    top:160px;
    left:355px;
    z-index:15;
    transform:rotate(60deg);
}
.functional-design .container1 .line11{
    width:70px;
    height:2px;
    background:white;
    position:absolute;
    top:150px;
    left:360px;
    z-index:15;
    transform:rotate(60deg);
}
.functional-design .container1 .line12{
    width:80px;
    height:2px;
    background:white;
    position:absolute;
    top:140px;
    left:365px;
    z-index:15;
    transform:rotate(60deg);
}
.functional-design .container1 .line13{
    width:80px;
    height:2px;
    background:white;
    position:absolute;
    top:130px;
    left:373px;
    z-index:15;
    transform:rotate(60deg);
}
.functional-design .container1 .line14{
    width:50px;
    height:2px;
    background:white;
    position:absolute;
    top:130px;
    left:405px;
    z-index:15;
    transform:rotate(60deg);
}
.functional-design .container1 .line15{
    width:50px;
    height:2px;
    background:white;
    position:absolute;
    top:130px;
    left:405px;
    z-index:15;
    transform:rotate(60deg);
}
.functional-design .container1 .line16{
    width:50px;
    height:2px;
    background:white;
    position:absolute;
    top:245px;
    left:430px;
    z-index:15;
    transform:rotate(90deg);
}
.functional-design .container1 .line17{
    width:80px;
    height:2px;
    background:white;
    position:absolute;
    top:245px;
    left:400px;
    z-index:15;
    transform:rotate(90deg);
}
.functional-design .container1 .line18{
    width:70px;
    height:2px;
    background:white;
    position:absolute;
    top:245px;
    left:365px;
    z-index:15;
    transform:rotate(90deg);
}
.functional-design .container1 .line19{
    width:90px;
    height:2px;
    background:white;
    position:absolute;
    top:245px;
    left:375px;
    z-index:15;
    transform:rotate(90deg);
}
.functional-design .container1 .line20{
    width:75px;
    height:2px;
    background:white;
    position:absolute;
    top:350px;
    left:360px;
    z-index:15;
    transform:rotate(120deg);
}
.functional-design .container1 .line21{
    width:80px;
    height:2px;
    background:white;
    position:absolute;
    top:340px;
    left:325px;
    z-index:15;
    transform:rotate(120deg);
}
.functional-design .container1 .line22{
    width:70px;
    height:2px;
    background:white;
    position:absolute;
    top:340px;
    left:345px;
    z-index:15;
    transform:rotate(120deg);
}
.functional-design .container1 .line23{
    width:60px;
    height:2px;
    background:white;
    position:absolute;
    top:340px;
    left:360px;
    z-index:15;
    transform:rotate(120deg);
}
.functional-design .container1 .line24{
    width:40px;
    height:2px;
    background:white;
    position:absolute;
    top:350px;
    left:395px;
    z-index:15;
    transform:rotate(120deg);
}
.functional-design .container1 .line25{
    width:40px;
    height:2px;
    background:white;
    position:absolute;
    top:390px;
    left:210px;
    z-index:15;
    transform:rotate(180deg);
}
.functional-design .container1 .line26{
    width:70px;
    height:2px;
    background:white;
    position:absolute;
    top:420px;
    left:192px;
    z-index:15;
    transform:rotate(180deg);
}
.functional-design .container1 .line27{
    width:80px;
    height:2px;
    background:white;
    position:absolute;
    top:405px;
    left:185px;
    z-index:15;
    transform:rotate(180deg);
}
.functional-design .container1 .line28{
    width:60px;
    height:2px;
    background:white;
    position:absolute;
    top:435px;
    left:200px;
    z-index:15;
    transform:rotate(180deg);
}
.functional-design .container1 .line29{
    width:80px;
    height:2px;
    background:white;
    position:absolute;
    top:450px;
    left:190px;
    z-index:15;
    transform:rotate(180deg);
}
.functional-design .container1 .line30{
    width:80px;
    height:2px;
    background:white;
    position:absolute;
    top:240px;
    left:30px;
    z-index:15;
    transform:rotate(90deg);
}
.functional-design .container1 .line31{
    width:70px;
    height:2px;
    background:white;
    position:absolute;
    top:245px;
    left:25px;
    z-index:15;
    transform:rotate(90deg);
}
.functional-design .container1 .line32{
    width:75px;
    height:2px;
    background:white;
    position:absolute;
    top:237px;
    left:10px;
    z-index:15;
    transform:rotate(90deg);
}
.functional-design .container1 .line33{
    width:65px;
    height:2px;
    background:white;
    position:absolute;
    top:240px;
    left:0px;
    z-index:15;
    transform:rotate(90deg);
}
.functional-design .container1 .line34{
    width:55px;
    height:2px;
    background:white;
    position:absolute;
    top:240px;
    left:-10px;
    z-index:15;
    transform:rotate(90deg);
}
.functional-design .container1 .line35{
    width:55px;
    height:2px;
    background:white;
    position:absolute;
    top:150px;
    left:63px;
    z-index:15;
    transform:rotate(120deg);
}
.functional-design .container1 .line36{
    width:65px;
    height:2px;
    background:white;
    position:absolute;
    top:145px;
    left:45px;
    z-index:15;
    transform:rotate(120deg);
}
.functional-design .container1 .line37{
    width:60px;
    height:2px;
    background:white;
    position:absolute;
    top:141px;
    left:28px;
    z-index:15;
    transform:rotate(120deg);
}
.functional-design .container1 .line38{
    width:50px;
    height:2px;
    background:white;
    position:absolute;
    top:135px;
    left:20px;
    z-index:15;
    transform:rotate(120deg);
}
.functional-design .container1 .line39{
    width:50px;
    height:2px;
    background:white;
    position:absolute;
    top:90px;
    left:120px;
    z-index:15;
    transform:rotate(150deg);
}
.functional-design .container1 .line40{
    width:70px;
    height:2px;
    background:white;
    position:absolute;
    top:80px;
    left:100px;
    z-index:15;
    transform:rotate(150deg);
}
.functional-design .container1 .line41{
    width:80px;
    height:2px;
    background:white;
    position:absolute;
    top:65px;
    left:85px;
    z-index:15;
    transform:rotate(150deg);
}
.functional-design .container1 .line42{
    width:80px;
    height:2px;
    background:white;
    position:absolute;
    top:45px;
    left:85px;
    z-index:15;
    transform:rotate(150deg);
}
.functional-design .container1 .line43{
    width:50px;
    height:2px;
    background:white;
    position:absolute;
    top:325px;
    left:75px;
    z-index:15;
    transform:rotate(50deg);
}
.functional-design .container1 .line44{
    width:60px;
    height:2px;
    background:white;
    position:absolute;
    top:325px;
    left:60px;
    z-index:15;
    transform:rotate(50deg);
}
.functional-design .container1 .line45{
    width:55px;
    height:2px;
    background:white;
    position:absolute;
    top:335px;
    left:55px;
    z-index:15;
    transform:rotate(50deg);
}
.functional-design .container1 .line46{
    width:75px;
    height:2px;
    background:white;
    position:absolute;
    top:335px;
    left:25px;
    z-index:15;
    transform:rotate(50deg);
}
.functional-design .container1 .line47{
    width:65px;
    height:2px;
    background:white;
    position:absolute;
    top:345px;
    left:15px;
    z-index:15;
    transform:rotate(55deg);
}
.functional-design .container1 .line48{
    width:85px;
    height:2px;
    background:white;
    position:absolute;
    top:430px;
    left:90px;
    z-index:15;
    transform:rotate(30deg);
}
.functional-design .container1 .line49{
    width:50px;
    height:2px; 
    background:white;
    position:absolute;
    top:370px;
    left:120px;
    z-index:15;
    transform:rotate(30deg);
}
.functional-design .container1 .line50{
    width:85px;
    height:2px; 
    background:white;
    position:absolute;
    top:410px;
    left:90px;
    z-index:15;
    transform:rotate(30deg);
}
.functional-design .container1 .line51{
    width:65px;
    height:2px; 
    background:white;
    position:absolute;
    top:390px;
    left:110px;
    z-index:15;
    transform:rotate(30deg);
}
.functional-design .container2{
    height:306px;
    width:306px;
    border-radius:50%;
    background:black;
    position:absolute;
    top:180px;
    left:140px;
    z-index:20;
}
.functional-design .container3{
    height:295px;
    width:295px;
    border-radius:50%;
    background:#dc942e;
    position:absolute;
    top:185px;
    left:145px;
    z-index:30;
}
.functional-design .container4{
    height:270px;
    width:270px;
    border-radius:50%;
    background:#06505e;
    position:absolute;
    top:198px;
    left:158px;
    z-index:40;
}
.functional-design .container5{
    height:250px;
    width:250px;
    border-radius:50%;
    background:black;
    position:absolute;
    top:208px;
    left:168px;
    z-index:50;
}
.functional-design .container5 .circle1{
    height:20px;
    width:20px;
    border-radius:50%;
    background:#dc942e;
    position:absolute;
    top:212px;
    left:170px;
    z-index:55;
}
#dot1{
    height:11px;
    width:11px;
    background:#06505e;
    border-radius:50%;
    animation-name: dots;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-delay:0;
    animation-timing-function:linear;
    position:absolute;
    top:4px;
    left:4px;
    z-index:55;
}
.functional-design:hover > .container5{
    transform:rotate(10deg);
    transition:transform 1.5s ease-in-out;
}
.functional-design:hover > .container4{
    transform:scale(1.05);
    transition:transform 1s ease-in-out;
}
.functional-design .container5 .circle2{
    height:20px;
    width:20px;
    border-radius:50%;
    background:#dc942e;
    position:absolute;
    top:224px;
    left:103px;
    z-index:55;
}
.functional-design .container5 .circle3{
    height:20px;
    width:20px;
    border-radius:50%;
    background:#dc942e;
    position:absolute;
    top:160px;
    left:216px;
    z-index:55;
}
.functional-design .container5 .circle4{
    height:20px;
    width:20px;
    border-radius:50%;
    background:#dc942e;
    position:absolute;
    top:90px;
    left:222px;
    z-index:55;
}
.functional-design .container5 .circle5{
    height:20px;
    width:20px;
    border-radius:50%;
    background:#dc942e;
    position:absolute;
    top:30px;
    left:185px;
    z-index:55;
}
.functional-design .container5 .circle6{
    height:20px;
    width:20px;
    border-radius:50%;
    background:#dc942e;
    position:absolute;
    top:5px;
    left:120px;
    z-index:55;
}
.functional-design .container5 .circle7{
    height:20px;
    width:20px;
    border-radius:50%;
    background:#dc942e;
    position:absolute;
    top:24px;
    left:54px;
    z-index:55;
}
.functional-design .container5 .circle8{
    height:20px;
    width:20px;
    border-radius:50%;
    background:#dc942e;
    position:absolute;
    top:80px;
    left:12px;
    z-index:55;
}
.functional-design .container5 .circle9{
    height:20px;
    width:20px;
    border-radius:50%;
    background:#dc942e;
    position:absolute;
    top:150px;
    left:11px;
    z-index:55;
}
.functional-design .container5 .circle10{
    height:20px;
    width:20px;
    border-radius:50%;
    background:#dc942e;
    position:absolute;
    top:200px;
    left:45px;
    z-index:55;
}
.functional-design .container6{
    height:190px;
    width:190px;
    border-radius:50%;
    background:#c8282f;
    position:absolute;
    top:239px;
    left:199px;
    z-index:60;
}
.functional-design .container7{
    height:160px;
    width:160px;
    border-radius:50%;
    background:#c8282f;
    position:absolute;
    top:253px;
    left:213px;
    z-index:80;
}
.functional-design .container8{
    height:110px;
    width:110px;
    border-radius:50%;
    background:#dc942e;
    border:5px solid black;
    position:absolute;
    top:273px;
    left:233px;
    z-index:90;
}
.functional-design .container9{
    height:40px;
    width:40px;
    border-radius:50%;
    background:#c8282f;
    border:15px solid black;
    position:absolute;
    top:298px;
    left:258px;
    z-index:100;
}
.functional-design .container10{
    height:25px;
    width:25px;
    border-radius:50%;
    background:white;
    position:absolute;
    top:320px;
    left:280px;
    z-index:110;
}
.functional-design .container11{
    height:15px;
    width:15px;
    border-radius:50%;
    background:black;
    position:absolute;
    top:325px;
    left:285px;
    z-index:120;
}
.services{
    width:100vw;
    height:110vh;
    background:#ddd;
    /* position:relative;
    top:100px;
    left:0; */
    z-index:-10;
}
.services #card{
    display:inline-block;
    margin:50px;
    width:70px;
    height:140px;
    background:white;
    border-radius:10px;
}
.services #service{
    margin-top: 200px;
    padding-left: 100px;
    width:200px;
    height:100px;
    display:inline-block;
    text-align: center;
}
.services #service i{
    color:#c8282f;
    font-size: 2em;
    padding-bottom: 1em;
}
.services #service i:hover{
    color:white;
    font-size:2.5em;
    transition: all .2s;
}
.about{
    width:100vw;
    height:100vh;
    background:white;
    /* position:relative;
    top:1153px;
    left:0; */
    z-index:-10;
}
.about .main{
    width:500px;
    height:50px;
    font-weight:lighter;
    font-size:18px;
    text-align:center;
    line-height:25px;
    animation-name:main;
    animation-duration:2s;
    animation-timing-function:linear;
    animation-iteration-count:1;
    animation-delay:0;
    position:absolute;
    top:150px;
    left:50px;
}
.contact{
    width:100vw;
    height:100vh;
    background:white;
    position:relative;
    top:100px;
    left:0;
    z-index:-10;
}
.contact h1{
    position:absolute;
    top:0px;
    left:60px;
}
.contact form{
    position:absolute;
    top:150px;
    left:200px;
}
.contact form input{
    font-family:Arial, Helvetica, sans-serif;
    height:40px;
    width:500px;
    margin-bottom:50px;
    border: 10px solid;
    border-image-slice: 2;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #c8282f, #dc942e);
}
.contact form .submit{
    background-color:white;
    font-weight:bold;
    position:absolute;
    left:0px;
    top:330px;
}
.submit:hover, .submit:active{
    background:#dc942e;
    border:5px solid #dc942e;
    color:black;
    transition:all .5s;
}
.contact form .message{
    font-family:Arial, Helvetica, sans-serif;
    height:100px;
    width:500px;
    position:absolute;
    left:0px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #c8282f, #dc942e);
}
.help{
    width:60px;
    height:60px;
    border-radius:50%;
    background:rgba(255, 255, 255, 0.2);
    backdrop-filter:blur(40px);
    border:solid 10px white;
    background-clip:padding box;
    box-shadow:10px 10px 10px rgba(46,54, 68, 0.03);
    position:fixed;
    bottom:70px;
    left:60px;
    z-index:110;
}
.help:hover, .help:active{
    background:rgba(200, 40, 47, 0.2);
}
.help .question-mark:hover, .help .question-mark:active{
    color:#c8282f;
}
.help .question-mark{
    text-align:center;
    font-weight:bold;
    font-size:2em;
    font-family:Arial;
    color:black;
    padding:15px;
}
.foot{
    height:15vh;
    width:100vw;
    background-color:#ddd;
    position:fixed;
    top:550px;
    left:0;
    z-index:100;
}
.foot p{
    color:black;
    font-size:14px;
    font-weight:bold;
    letter-spacing:3px;
    margin-left:70px;
    padding-top:10px;
}
.foot ul{
    margin-left:270px;
}
.foot ul li{
    display:inline-block;
    padding-left:120px;
    padding-bottom:30px;
}
.foot ul li a{
    color:black;
}
.foot ul li a:hover, .foot ul li a:active{
    color:#c8282f;
}
@media (max-width:1200px){
    .nav ul li{
        left:350px;
    }
}
@media (max-width:952px){
    .nav ul li{
        left:250px;
    }
}
@media (max-width:858px){
    .checkbtn{
        line-height:130px;
        display:block;
    }
    .nav ul{
        position:fixed;
        width:100%;
        height:100vh;
        background-color:#c8282f;
        top:80px;
        left:-110%;
        text-align:center;
        transition:all .5s;
    }
    .nav ul li{
        display:block;
    }
    .nav ul li a{
        font-size:20px;
    }
    #check:checked ~ .nav-bar .nav-links{
        left:0;
    }
}
@keyframes dots{
    0%   {height: 11px; width:11px; border-radius:50%;}
    50%   {height: 9px; width:9px; border-radius:50%;}
    100%   {height: 11px; width:11px; border-radius:50%;}
}
@keyframes home{
    0%{clip-path:inset(100% 0 0 0);}
    100%{clip-path:inset(0 0 0 0);}
}
@keyframes main{
    0% {line-height:10px;}
    100% {line-height:25px;}
}